soap-client/src/wsdl/localhost_8080/ws/countries.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://spring.io/guides/gs-producing-web-service" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://spring.io/guides/gs-producing-web-service" targetNamespace="http://spring.io/guides/gs-producing-web-service">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://spring.io/guides/gs-producing-web-service">

    <xs:element name="getCountryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCountryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="tns:country"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="makeAuthRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="auth" type="tns:credentials"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="makeAuthResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authResult" type="tns:authResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="makeUnAuthRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="makeUnAuthResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authResult" type="tns:authResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="credentials">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/>
            <xs:element name="password" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="authResult">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUCCESS"/>
            <xs:enumeration value="FAIL"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="country">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="population" type="xs:int"/>
            <xs:element name="capital" type="xs:string"/>
            <xs:element name="currency" type="tns:currency"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="currency">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GBP"/>
            <xs:enumeration value="EUR"/>
            <xs:enumeration value="PLN"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCountryResponse">
    <wsdl:part element="tns:getCountryResponse" name="getCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeAuthResponse">
    <wsdl:part element="tns:makeAuthResponse" name="makeAuthResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeAuthRequest">
    <wsdl:part element="tns:makeAuthRequest" name="makeAuthRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeUnAuthRequest">
    <wsdl:part element="tns:makeUnAuthRequest" name="makeUnAuthRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeUnAuthResponse">
    <wsdl:part element="tns:makeUnAuthResponse" name="makeUnAuthResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCountryRequest">
    <wsdl:part element="tns:getCountryRequest" name="getCountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CountriesPort">
    <wsdl:operation name="getCountry">
      <wsdl:input message="tns:getCountryRequest" name="getCountryRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCountryResponse" name="getCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeAuth">
      <wsdl:input message="tns:makeAuthRequest" name="makeAuthRequest">
    </wsdl:input>
      <wsdl:output message="tns:makeAuthResponse" name="makeAuthResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeUnAuth">
      <wsdl:input message="tns:makeUnAuthRequest" name="makeUnAuthRequest">
    </wsdl:input>
      <wsdl:output message="tns:makeUnAuthResponse" name="makeUnAuthResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CountriesPortSoap12" type="tns:CountriesPort">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCountry">
      <soap12:operation soapAction="http://spring.io/guides/gs-producing-web-service/getCountryRequest"/>
      <wsdl:input name="getCountryRequest">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCountryResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeAuth">
      <soap12:operation soapAction="http://spring.io/guides/gs-producing-web-service/makeAuthRequest"/>
      <wsdl:input name="makeAuthRequest">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeAuthResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeUnAuth">
      <soap12:operation soapAction="http://spring.io/guides/gs-producing-web-service/makeUnAuthRequest"/>
      <wsdl:input name="makeUnAuthRequest">
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="makeUnAuthResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CountriesPortService">
    <wsdl:port binding="tns:CountriesPortSoap12" name="CountriesPortSoap12">
      <soap12:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>